.carousel-inner {
    text-align: center;
}

.carousel .item > img {
    display: inline-block;
}

.table-centered {
    margin: 0 auto !important;
    float: none !important;
}

.thumbnail {
    height: 180px;
    max-height: 180px;
    width: 180px;
    max-width: 180px;
}
.thumbnails {
    text-align:center !important;
}

.modal-body {
    text-align: left !important;
}

.thumbnails > li {
    display: inline-block !important;
    float: none !important; 
}

.table-data {
    text-align: right;
}

table td, table th
{
    padding: 5px; /* 'cellpadding' equivalent */
}

body { 
    padding-top: 65px; /* ensure body doesn't interfere with navbar */
}

.search-input {
    padding-left: 5px;
}

.not-found-text {
    text-align: center;
}
